.House-img>img{
    position: relative;
    width: 100%;
    right: 0;
}

.Main-info{
    display: flex;
    justify-content: space-around;
}

.info{
    margin-left: 20px;
}

p{
    color: rgb(128, 144, 153);
}